<p class="text-xs-center">Увійдіть для роботи</p>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div
    class="alert alert-{{ alertMessage.type }}"
    *ngIf="alertMessage.text.length">
    {{ alertMessage.text }}
  </div>
  <div
    class="form-group"
    [ngClass]="{ 'has-error': hasControlInvalid('email') }">
    <label for="email">Email</label>
    <input
      type="text"
      class="form-control underlined"
      id="email"
      placeholder="Введіть ваш email"
      formControlName="email" />
    <span class="form-help-text" *ngIf="hasControlInvalid('email')">
      <span *ngIf="hasControlValidationError('email', 'required')">{{
        showErrorMessage('required')
      }}</span>
      <span *ngIf="hasControlValidationError('email', 'email')">{{
        showErrorMessage('email')
      }}</span>
    </span>
  </div>
  <div
    class="form-group"
    [ngClass]="{ 'has-error': hasControlInvalid('password') }">
    <label for="password">Пароль</label>
    <input
      type="password"
      class="form-control underlined"
      id="password"
      placeholder="Пароль"
      formControlName="password" />
    <span class="form-help-text" *ngIf="hasControlInvalid('password')">
      <span *ngIf="hasControlValidationError('password', 'required')">{{
        showErrorMessage('required')
      }}</span>
      <span *ngIf="hasControlValidationError('password', 'minlength')">{{
        showErrorMessage(
          'minlength',
          form.get('password')['errors']['minlength']
        )
      }}</span>
    </span>
  </div>
  <div class="form-group">
    <button
      type="submit"
      class="btn btn-block btn-primary"
      [disabled]="form.invalid">
      Увійти
    </button>
  </div>
  <div class="form-group">
    <p class="text-muted text-xs-center">
      Відсутній аккаунт?
      <a [routerLink]="'../registration'">Зареєструватись!</a>
    </p>
  </div>
</form>
