<p class="text-center">Увійдіть для роботи</p>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  @if (alertMessage$ | async; as alert) {
    <div
      class="alert alert-{{ alert.type }}">
      {{ alert.text }}
    </div>
  }
  <div
    class="form-group mb-3"
    [ngClass]="{ 'has-error': hasControlInvalid('email') }">
    <label for="email">Email</label>
    <input
      type="text"
      class="form-control underlined"
      id="email"
      placeholder="Введіть ваш email"
      formControlName="email" />
    @if (hasControlInvalid('email')) {
      <span class="form-text">
        @if (hasControlValidationError('email', 'required')) {
          <span>{{
            showErrorMessage('required')
          }}</span>
        }
        @if (hasControlValidationError('email', 'email')) {
          <span>{{
            showErrorMessage('email')
          }}</span>
        }
      </span>
    }
  </div>

  <div
    class="form-group mb-3"
    [ngClass]="{ 'has-error': hasControlInvalid('password') }">
    <label for="password">Пароль</label>
    <input
      type="password"
      class="form-control underlined"
      id="password"
      placeholder="Пароль"
      formControlName="password" />
    @if (hasControlInvalid('password')) {
      <span class="form-text">
        @if (hasControlValidationError('password', 'required')) {
          <span>{{
            showErrorMessage('required')
          }}</span>
        }
        @if (hasControlValidationError('password', 'minlength')) {
          <span>{{
            showErrorMessage(
            'minlength',
            form.get('password')['errors']['minlength']
            )
          }}</span>
        }
      </span>
    }
  </div>

  <div class="form-group mb-3">
    <button
      type="submit"
      class="btn btn-block btn-primary"
      [disabled]="!form.valid">
      Увійти
    </button>
  </div>
  <div class="form-group">
    <p class="fst-italic fw-lighter">
      Відсутній аккаунт?
      <a [routerLink]="'../registration'">Зареєструватись!</a>
    </p>
  </div>
</form>
