<div class="title-block">
  <h3 class="title pull-left">
    Сторінка історії <span class="sparkline bar"></span>
  </h3>
  <div class="pull-right" *ngIf="isLoaded$ | async as isLoaded">
    <button
      (click)="onFilter()"
      [disabled]="!isLoaded || isFilterVisible"
      class="btn-sm btn btn-primary-outline">
      <i class="fa fa-filter"></i>
    </button>
  </div>
</div>

<section class="section" *ngIf="isLoaded$ | async; else loader">
  <app-history-chart [chartData]="chartData"> </app-history-chart>
  <app-history-events
    [categories]="categories"
    [events]="filteredEvents"
    [categoryMap]="categoryMap">
  </app-history-events>
  <div *ngIf="isFilterVisible">
    <app-history-filter
      [events]="events"
      [categoryMap]="categoryMap"
      (cancelFilter)="onCancelFilter()"
      (applyFilter)="onApplyFilter($event)">
    </app-history-filter>
  </div>
</section>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
