<div class="card bg-body-tertiary shadow">
  <div class="card-title">
    <div class="card-header">
      <h4>Редагувати категорію</h4>
    </div>
  </div>
  <div class="card-body">
    @if (alertMessage.text.length) {
    <div class="alert alert-{{ alertMessage.type }}">
      {{ alertMessage.text }}
    </div>
    }
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="form-group mb-3">
        <label class="form-label" for="edit-category">
          Оберіть категорію
        </label>
        <select
          [(ngModel)]="selectedCategoryId"
          [ngModelOptions]="{ standalone: true }"
          (change)="onOptionSelect()"
          class="form-control"
          id="edit-category">
          @for (c of categories; track c) {
          <option [value]="c.id">
            {{ c.name }}
          </option>
          }
        </select>
      </div>

      <div
        class="form-group mb-3"
        [ngClass]="{
          'has-error': categoryName.touched && categoryName.invalid
        }">
        <label class="form-label" for="category-name">Введіть назву</label>
        <input
          [ngModel]="currentCategory ? currentCategory.name : ''"
          name="categoryName"
          #categoryName="ngModel"
          type="text"
          id="category-name"
          class="form-control"
          required />
        @if (categoryName.touched && categoryName.invalid) {
        <span class="form-text"> Поле не може бути пустим </span>
        }
      </div>

      <div
        class="form-group mb-3"
        [ngClass]="{
          'has-error': categoryCapacity.touched && categoryCapacity.invalid
        }">
        <label class="form-label" for="category-value">Введіть ліміт</label>
        <input
          [ngModel]="currentCategory ? currentCategory.capacity : ''"
          name="categoryValue"
          #categoryCapacity="ngModel"
          type="number"
          value="0"
          id="category-value"
          class="form-control"
          required
          minlength="1" />
        @if (categoryCapacity.touched && categoryCapacity.invalid) {
        <span class="form-text"> Поле не може бути пустим </span>
        }
      </div>

      <button [disabled]="form.invalid" type="submit" class="btn btn-primary">
        Оновити
      </button>
    </form>
  </div>
</div>
