<div class="card">
  <div class="card-header bordered">
    <div class="header-block">
      <h3 class="title">Редагувати категорію</h3>
    </div>
  </div>
  <div class="card-block">
    <form>
      <div class="form-group has-error">
        <label class="control-label" for="category-name">Введіть назву</label>
        <input type="text" id="category-name" class="form-control">
        <span class="form-help-text">Помилка (валідація)</span>
      </div>
      <div class="form-group has-success">
        <label class="control-label" for="category-value">Введіть ліміт</label>
        <input type="number" value="0" id="category-value" class="form-control">
        <span class="form-help-text">Помилки відсутні (валідація)</span>
      </div>
      <button type="submit" class="btn btn-primary">Додати</button>
    </form>
  </div>
</div>
