<div class="mb-4">
  <h3>Сторінка планування <span class="sparkline bar"></span></h3>
</div>

<div
  class="card bg-body-tertiary shadow"
  *ngIf="isLoadied$ | async; else loader">
  <div class="card-title">
    <div class="card-header">
      <h4>Витрати</h4>
    </div>
    <h5 class="text-end mt-1 me-3">
      Загальний залишок:
      <span class="text-success"
        >{{ bill.value | number : '1.2' }} {{ bill.currency }}</span
      >
    </h5>
  </div>

  <div class="card-body">
    <div class="" *ngFor="let c of categories">
      <div class="col-auto">
        <div class="progress large-progress">
          <div
            class="progress-bar text-dark text-bold bg-{{
              getProgressColor(c)
            }}"
            [ngStyle]="{ width: getProgressWidthValue(c) }">
            <span class="fw-medium">{{ c.name }}</span>
          </div>
        </div>
      </div>

      <div class="col-auto">
        <p>
          <span class="text-{{ getProgressColor(c) }}">{{
            getCategorySpendValue(c) | number : '1.2'
          }}</span>
          з
          <span class="fw-medium text-primary">{{
            c.capacity | number : '1.2'
          }}</span>
          | Залишок
          <span class="fw-medium text-{{ getProgressColor(c) }}">{{
            getCategoryLeftValue(c) | number : '1.2'
          }}</span>
          ({{ bill.currency }})
        </p>
      </div>
    </div>
  </div>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
