<div class="card">
  <div class="card-header bordered">
    <div class="header-block">
      <h3 class="title">Додати подію</h3>
    </div>
  </div>
  <div class="card-block">
    <div class="alert alert-{{alertMessage.type}}" *ngIf="alertMessage.text.length">{{alertMessage.text}}</div>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="form-group">
        <label class="control-label" for="add-event">Оберіть категорію</label>
        <select
          ngModel
          name="category"
          class="form-control"
          id="add-event"
          required
        >
          <option
            *ngFor="let c of categories"
            [value]="c.id"
          >
            {{c.name}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label class="control-label">Оберіть тип</label>
        <div *ngFor="let t of eventTypes">
          <label>
            <input
              [ngModel]="'outcome'"
              [value]="t.type"
              class="radio"
              name="type"
              type="radio"
              required>
            <span>{{t.label}}</span>
          </label>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="amount">Введіть суму</label>
        <input
          ngModel
          name="amount"
          type="number"
          id="amount"
          class="form-control"
          min="1"
          required>
      </div>
      <div class="form-group">
        <label class="control-label" for="amount">Опис</label>
        <input
          ngModel
          name="description"
          type="text"
          id="description"
          class="form-control"
          required>
      </div>
      <button
        [disabled]="form.invalid"
        type="submit"
        class="btn btn-primary"
      >
        Додати
      </button>
    </form>
  </div>
</div>
