<div class="card bg-body-tertiary shadow">
  <div class="card-title">
    <div class="card-header">
      <h4>Додати подію</h4>
    </div>
  </div>
  <div class="card-body">
    <div
      class="alert alert-{{ alertMessage.type }}"
      *ngIf="alertMessage.text.length">
      {{ alertMessage.text }}
    </div>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="form-group mb-3">
        <label class="form-label" for="add-event">Оберіть категорію</label>
        <select
          ngModel
          name="category"
          class="form-control"
          id="add-event"
          required>
          <option *ngFor="let c of categories" [value]="c.id">
            {{ c.name }}
          </option>
        </select>
      </div>

      <div class="form-group mb-3">
        <label class="form-label">Оберіть тип</label>
        <div *ngFor="let t of eventTypes">
          <label>
            <input
              [ngModel]="'outcome'"
              [value]="t.type"
              class="radio"
              name="type"
              type="radio"
              required />
            <span class="ms-2 fw-medium">{{ t.label }}</span>
          </label>
        </div>
      </div>

      <div class="form-group mb-3">
        <label class="form-label" for="amount">Введіть суму</label>
        <input
          ngModel
          name="amount"
          #amount="ngModel"
          type="number"
          id="amount"
          class="form-control"
          min="1"
          required />
        <span
          id="amountHelpInline"
          class="form-text"
          *ngIf="amount.touched && amount.invalid">
          Поле не може бути пустим
        </span>
      </div>

      <div class="form-group mb-3">
        <label class="form-label" for="amount">Опис</label>
        <input
          ngModel
          name="description"
          #name="ngModel"
          type="text"
          id="description"
          class="form-control"
          required />
        <span
          id="nameHelpInline"
          class="form-text"
          *ngIf="name.touched && name.invalid">
          Поле не може бути пустим
        </span>
      </div>

      <button [disabled]="form.invalid" type="submit" class="btn btn-primary">
        Додати
      </button>
    </form>
  </div>
</div>
