<div class="card bg-body-tertiary shadow">
  <div class="card-title">
    <div class="card-header">
      <h4>Рахунок</h4>
    </div>
  </div>

  <div class="card-body">
    <ng-container
      *ngTemplateOutlet="
        billProgress;
        context: {
          bill: bill?.value,
          rate: rates?.UAH,
          icon: 'fa-hryvnia-sign'
        }
      ">
    </ng-container>

    <ng-container
      *ngTemplateOutlet="
        billProgress;
        context: {
          bill: bill?.value,
          rate: rates?.USD,
          icon: 'fa-dollar-sign'
        }
      ">
    </ng-container>

    <ng-container
      *ngTemplateOutlet="
        billProgress;
        context: {
          bill: bill?.value,
          rate: rates?.EUR,
          icon: 'fa-euro-sign'
        }
      ">
    </ng-container>
  </div>
</div>

<ng-template #billProgress let-bill="bill" let-rate="rate" let-icon="icon">
  <div class="col mb-3">
    <div class="row">
      <div class="d-inline-flex justify-content-end fw-bolder">
        <i class="fa-solid {{ icon }} mt-1 me-2"></i>
        <span class="me-2">
          {{ bill * rate | number : '1.2-2' }}
        </span>
      </div>
    </div>
    <ngb-progressbar type="info" [value]="bill"></ngb-progressbar>
  </div>
</ng-template>
