<div class="card bg-body-tertiary shadow">
  <div class="card-title">
    <div class="card-header">
      <h4>Рахунок</h4>
    </div>
  </div>

  <div class="card-body">
    <ng-container
      *ngTemplateOutlet="
        billProgress;
        context: {
          bill: bill?.value,
          rate: rates?.UAH,
          currency: 'B'
        }
      ">
    </ng-container>

    <ng-container
      *ngTemplateOutlet="
        billProgress;
        context: {
          bill: bill?.value,
          rate: rates?.USD,
          currency: '$'
        }
      ">
    </ng-container>

    <ng-container
      *ngTemplateOutlet="
        billProgress;
        context: {
          bill: bill?.value,
          rate: rates?.EUR,
          currency: 'Є'
        }
      ">
    </ng-container>
  </div>
</div>

<ng-template
  #billProgress
  let-bill="bill"
  let-rate="rate"
  let-currency="currency">
  <div class="col mb-3">
    <div class="row">
      <div class="d-inline-flex justify-content-end fw-bolder">
        <span><i class="fa fa-bitcoin me-2"></i>{{ currency }}</span>
        <span class="me-2">
          {{ bill * rate | number : '1.2-2' }}
        </span>
      </div>
    </div>
    <ngb-progressbar type="info" [value]="bill"></ngb-progressbar>
  </div>
</ng-template>
