<section class="section">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-block flex-row-center">
          <ngx-charts-pie-chart
            class="mini-pie"
            [view]="[545, 355]"
            [scheme]="'aqua'"
            [results]="chartData"
            [legend]="false"
            [explodeSlices]="false"
            [labels]="true"
            [doughnut]="true"
            [gradient]="false"
            [tooltipDisabled]="false">
          </ngx-charts-pie-chart>
        </div>
      </div>
    </div>
  </div>
</section>
