<div class="card bg-body-tertiary shadow">
  <div class="card-header">
    <div class="card-title">
      <h4>Список подій</h4>
    </div>
  </div>

  <div class="card-body">
    <div class="d-inline-flex me-2 mb-3">
      <div ngbDropdown class="btn-group">
        <button
          ngbDropdownToggle
          type="button"
          class="btn btn-outline-info dropdown-toggle me-2">
          Параметр
        </button>
        <div ngbDropdownMenu class="dropdown-menu">
          <a class="dropdown-item" (click)="changeFilterType('amount')">Сума</a>
          <a class="dropdown-item" (click)="changeFilterType('date')">Дата</a>
          <a class="dropdown-item" (click)="changeFilterType('category')">
            Категорія
          </a>
          <a class="dropdown-item" (click)="changeFilterType('type')">Тип</a>
        </div>
      </div>

      <div class="form-group">
        <input
          type="text"
          class="form-control"
          [placeholder]="searchPlaceholder"
          [(ngModel)]="searchValue" />
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-hover align-middle">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Сума</th>
            <th scope="col">Дата</th>
            <th scope="col">Категорія</th>
            <th scope="col">Тип</th>
            <th scope="col">Дія</th>
          </tr>
        </thead>
        <tbody>
          @for (
            e of events
            | appEventsFilter : searchValue : searchType : categoryMap; track
            e; let i = $index) {
            <tr
              >
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ e.amount | number : '1.2-2' }}</td>
              <td>{{ e.date }}</td>
              <td>{{ getCategoryName(e.category) }}</td>
              <td>
                <span class="label label-{{ getColorClass(e.type) }}">{{
                  getEventLabel(e.type)
                }}</span>
              </td>
              <td class="text-center">
                <a [routerLink]="e.id" class="btn btn-outline-info">Відкрити</a>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
