<div class="title-block">
  <h3 class="title pull-left">
    Сторінка рахунку <span class="sparkline bar"></span>
  </h3>
  <div class="pull-right">
    <button
      (click)="onRefresh()"
      class="btn-sm btn btn-primary-outline"
    >
      <i class="fa fa-refresh"></i>
    </button>
  </div>
</div>
<section class="section">
  <div class="row" *ngIf="!isLoaded">
    <app-loader></app-loader>
  </div>
  <div class="row" *ngIf="isLoaded">
    <app-bill-card
      [bill]="bill"
      [rates]="rates"
      [date]="date"
    >
    </app-bill-card>
    <app-currency-card
      [rates]="rates"
      [date]="date"
    >
    </app-currency-card>
  </div>
</section>
